body {
    background-color: #f1f8ff;
}

h1 {
    background: -webkit-linear-gradient(45deg, #007bff, #ff8c00, #6f42c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pricing-tabs .nav-link {
    color: #6c757d;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 30px;
    border: 1px solid transparent;
}

#pricing-tabs .nav-link.active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#pricing-tabs .nav-link:not(.active):hover {
    color: #0d6efd;
}

.badge.bg-danger {
    top: -5px !important;
    font-size: 0.65em;
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.pricing .price-amount {
    font-size: 3rem;
    color: #212529;
}

.pricing .price-currency {
    font-size: 1.25rem;
    font-weight: 600;
    vertical-align: super;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #0d6efd;
    color: #000;
}

btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.my-muangay{
    margin-top: 2rem;
}