.navbar-brand img {
    height: 100px;
    width: auto;
}

.nav-link .active {
    color: #007bff !important;
    border-bottom: 3px solid #007bff;
    padding-bottom: 5px;
}
.custom-blue-button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}

.custom-blue-button:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 8ox 20px;
    border-radius: 5px;
}

.custom-blue-button:hover {
    background-color: #0056b3;
    
}