html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  background: -webkit-linear-gradient(45deg, #007bff, #ff8c00, #6f42c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-custom-section {
  background-color: var(--bs-primary-bg-subtle) !important;
}
.nav-link {
  color: #000 !important;
}

.card-body .my-hover-bg-blue:hover {
  color: var(
    --bs-primary
  ) !important; /* Chuyển sang màu xanh primary của Bootstrap khi hover */
}
